@if(CurrentRoom is not null)
{
    <div class="room">
        <h3>Room: @CurrentRoom.RoomName</h3>
        <ul>
            @if(CurrentRoom.Players.Count < 2)
            {
                <h5>Waiting for another player to join...</h5>
            }
            else
            {
                @foreach (var player in CurrentRoom.Players)
                {
                    <li>@player.Name</li>
                }
            }
        </ul>
    </div>
}
else
{
    <p>Room not found</p>
}

@code {
    [CascadingParameter]
    public HubConnection? HubConnection { get; set; }
    [Parameter]
    public GameRoom? CurrentRoom { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (CurrentRoom is null || HubConnection is null || HubConnection.ConnectionId is null)
            return;

        HubConnection.On<Player>("PlayerJoined", player =>
        {
            CurrentRoom.Players.Add(player);
            StateHasChanged();
        });
    }
}
